@import "vars";
@import "base";

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2.0rem;
}

/* Nav */
.tabs-nav {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(4.5rem, auto));
  grid-row-gap: 1.5rem;
  width: 25%;
  background-color: var(--bcg);
  border-radius: var(--radius);
  margin-right: 2.0rem;
  padding: 2.0rem 0;
}

.tabs-nav-title {
  font-size: 3.5rem;
  color: var(--accent-dark);
  align-items: center;
  text-align: center;
  padding: 0 2.0rem;
}

.tabs-nav__item {
  padding: 0 2.0rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--accent-light);
}

.tabs-nav__item:hover {
  background-color: var(--bcg-light);
  color: var(--accent-dark);
  transition: .5s ease;
}

.tabs-nav__item-icon{
  margin-right: 1.0rem;
}

.tabs-nav__item-title{
  font-size: 1.5rem;
}

.tabs-nav__item.is-active {
  background-color: var(--bcg-light);
  border-right: 0.4rem solid var(--accent-dark);

  .tabs-nav__item-title {
    color: var(--accent-dark);
  }
}

/* TodoList */
.task-list {
  width: 75%;
  background-color: var(--bcg);
  border-radius: var(--radius);
  padding: 2.0rem;
  position: relative;
}

.task-list-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bcg-light);
  border-radius: var(--radius);
  padding-left: 2.0rem;
  z-index: 2;
  margin-bottom: 2.0rem;

  :last-child{
    border-radius: var(--radius);
  }
}

.task-list-bar__wrap {
  :first-child {
    font-size: 3.0rem;
    color: var(--accent-dark);
    padding-bottom: .4rem;
  }
  :last-child {
    font-size: 2.0rem;
    color: var(--accent-light);
  }
}

.add-tasks-btn {
  position: fixed;
  bottom: 4.0rem;
  right: 4.0rem;
  font-size: 1.8rem;
  color: var(--accent-dark);
  background-color: var(--bcg-light);
  border-radius: var(--radius);
  border: .1rem solid var(--accent-dark);
  padding: 1.8rem;
}

.tab {
  display: none;
}

.tab.is-active {
  display: block;
}

/* li */
.current-task {
  display: flex;
  font-size: 1.5rem;
  color: var(--accent-light);
  border-radius: var(--radius);
  padding: 2.0rem;
  background-color: var(--bcg-light);
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.0rem;

  :not(:last-child) {
    margin-right: 1.0rem;
  }
}

.current-task-name {
  min-width: 20rem;
  color: var(--accent-dark);
}

.current-task-description {
  width: 40rem;
}

.current-task-priority {
  width: 10rem;
  font-style: italic;
}

.task-btn {
  color: var(--accent-dark);
  border-radius: var(--radius);
  border: .1rem solid var(--accent-dark);
  padding: .7rem;
}

// Форма
.add-task__form {
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bcg-light);
  border: 1px solid var(--accent-light);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: var(--radius);
  padding: 2.0rem;
  font-size: 1.7rem;
  width: 50rem;

  > input {
    width: -webkit-fill-available;
    margin-bottom: 1.0rem;
    background-color: var(--bcg-light);
    border-radius: var(--radius);
    height: 3.0rem;
    border: .2rem solid var(--accent-dark);
    outline: none;
    color: var(--accent-light);
    padding: .5rem;
  }

  > textarea {
    width: -webkit-fill-available;
    margin-bottom: 1.0rem;
    background-color: var(--bcg-light);
    border-radius: var(--radius);
    height: 5.0rem;
    border: .2rem solid var(--accent-dark);
    outline: none;
    color: var(--accent-light);
    padding: .5rem;
  }
}

.form-title{
  color: var(--accent-dark);
  font-size: 2.3rem;
  margin-bottom: 2.0rem;
  text-align: center;
}

.form__star {
  color: red;
}

.form__text {
  display: block;
  padding-left: 1.5rem;
  color: var(--accent-light);
}

.form-priority-case {
  display: flex;
  margin-bottom: 1.0rem;

  :first-child {
    margin-right: 2.0rem;
  }
}

.form-priority__radio {
  display: grid;
  color: var(--accent-light);
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 1.0rem;
  align-items: center;
}

.form-buttons {
  text-align: center;

  :first-child {
    margin-right: 1.0rem;
  }
}

.form-btn {
  color: var(--accent-dark);
  border-radius: var(--radius);
  border: .1rem solid var(--accent-dark);
  padding: .7rem;
  width: 20rem;
}
