* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

button:active {
  border: none;
}
