@import "mixins";

// Иконочные шрифры //
@import "icons";

// Шрифт по умолчанию //
$fontFamily: "Montserrat";
$fontSize: 62.5%;

// Переменные //
$bcg: #f4f6fb;
$bcg-light: #eaecf7;
$bcg-dark: #d3d9f3;
$accent-dark: #5863b4;
$accent-light: #a2a2a2;

$radius: 30px;

// Обнуление, общие параметры //
@import "base";

:root {
  font-family: $fontFamily;
  font-size: $fontSize;
}

body._lock {
  overflow: hidden;
}

// Оболочка //
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2.0rem;
}

// Шрифры //
@import "fonts";

// Общие стили //
@import "ui";

// Отдельные блоки //
@import "nav";
@import "task-container";
@import "task";
@import "form";
